/*---------------------	MenU de promociones	-----------------------*/
a.menupromo:link,a.menupromo:visited {
	font-weight: bold;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	display: block;
	border: solid #003063 1px;
	height: 17px;
	text-align: center;
	background-color: #003366;
	}
a.menupromo:hover {
	background-color:#C6ECFF;
	border: solid #003063 1px;
	color: #003063;
	display: block;
}
	
a.menupromoscura:link,a.menupromoscura:visited {
	font-weight: bold;
	color:#A6E2FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	display: block;
	border: solid #003063 1px;
	height: 17px;
	text-align: center;
	background-color: #003366;
	}
a.menupromoscura:hover {
	background-color:#C6ECFF;
	border: solid #003063 1px;
	color: #003063;
	display: block;
}
td.menupromo_clara {
	text-align:center;
}
td.menupromo_oscura {
	background-color:#003366;
	text-align:center;
	font-weight:bold;
	color: #A6E2FF;
	height: 17px;
}

/*---------------------	quienes somos -----------------------*/
.margen_foto_descripcion_quien {
	border: solid #000000 2px;
	margin-top: 25px;
	width: 350px;

}
.titulo_localizacion_quien {
	font-size: 18px;
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}

#texto_localizacion_quien{
	padding-left:15px;
	margin-top: 23px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}	
.negrita_descripcion_quien{
	font-weight:bold;
	font-size: 32px;
}
.imagenlupa_quien{
	border-width:2px;
	border-color:#000000;
	cursor:auto;
	}

/*---------------------	promociones anteriores -----------------------*/
.margen_foto_prom_anter {
	border: solid #000000 2px;
	margin-top: 22px;
	width: 280px;

}
.titulo_prom_anter {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003063;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	}
.titulo_localizacion_prom_anter {
	font-size: 16px;
	font-weight: bold;
	color: #003063;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
	background-color: #FFFFFF;
}

.texto_localizacion_prom_anter{
	margin-top: 23px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 15px;
	}	
.negrita_descripcion_prom_anter{
	font-weight:bold;
	font-size: 32px;
}
.imagenlupa_prom_anter{
	border-width:2px;
	border-color:#000000;
	cursor:auto;
	}

/*---------------------	Descripcion	-----------------------*/
.margen_foto_descripcion {
	margin-right:15px;
	margin-bottom: 15px;
	width:50%;
	padding-bottom: 15px;
	float: left;
	margin-top: 20px;
}
.titulo_descripcion {
	font-size: 15px;
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}
.negrita_descripcion{
	font-weight:bold;
	font-size: 32px;
}

/*---------------------	Localizacion	-----------------------*/
.margen_foto_localizacion {
	margin-right:15px;
	margin-bottom:15px;
	width:350px;
	border-width:2px;
}

#texto_localizacion{
	padding-left:15px;
	margin-top: 23px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}	
.imagenes_localizacion {
	border: solid #000000 2px;
}
.titulo_localizacion {
	font-size: 18px;
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}
.capital {
	font-size: 22px;
	background-color: #A5E3FF;
	color: #003366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
.negrita_descripcion_localiz{
	font-weight:bold;
	font-size: 32px;
}
/*---------------------	Tipos de vivienda (planta) -----------------------*/
a.vendido:link {
	color: #CCCCCC;
}
a.vendido:visited {
	color: #CCCCCC;
}
.imagenplanta{
	border-width:2px;
	border-color:#000000;
	width:150px;
	margin-top:10px;
	text-decoration: blink;
	text-decoration: underline;
	font-stretch: semi-condensed;
	}
.notas {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	}

td.tablaorientativa_celda1 {
	height:50px;}
td.tablaorientativa_nota {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	height:20px;
	}
td.derechanotas_celda {
	text-align:right;
	vertical-align: bottom;
	}
table.tablaorientativa_cabecera_tabla{
	width:100%;
	border:none;
	}
td.tablaorientativa_cabecera_celda{
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
	font-size: 13px;
	}
tr.tablaorientativa_tr{
	background-color:#FFFFFF;
	font-weight: bold;
	}
.imagenlupatablaorientativa{
	border-width:2px;
	border-color:#000000;
	cursor:auto;
	}

table.tablaorientativa_tabla{
	width:100%;
	border:none;
	}

td.sotano_celda{
	text-align:center;
	width:50%;
	}
.imagensotanoyalzados {
	width:280px;
	margin-top:25px;}
/*---------------------	Tipos de vivienda (pisos) -----------------------*/
.plano_vivienda {
	border-width:1px;
	border-color:#000000;
	margin-right:15px;
	margin-bottom: 15px;
	width:65%;
	float:left; 
	}
	
table.link_tabla{
	width:100%;
	border:1px;
	}
	
td.link_celda{
	height:47px;
	}
td.link_derecha_celda{
	text-align:right;
	}
a.linkatras:link,a.linkatras:visited {
	font-weight: bold;
	background-color: #003063;
	color:#FFFFFF;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: solid #003063 1px;
	}
a.linkatras:hover {
background-color:#00CCFF;}
.piso {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003063;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}
.piso_precio {
	font-size: 13px;
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}
.piso_vendido {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #63CFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}
td.tabla_piso_subtitulos_celda {
	background-color:#FFFFFF;
	font-weight: bold;
	color:#000000;
	height: 18px;
	border: solid #003063 1px;
}
tr.tabla_piso_superficies {
	font-weight:bold;
	background-color:#F4F4F4;
}
td.tabla_piso_izq{
	width:59%;
	background-color:#F4F4F4;
	}
td.tabla_piso_der{
	background-color:#F4F4F4;
	}
.negrita {font-weight:bold;}

table.planos_atico_tabla {
	border-width:0px;
	width:100%;
	}
td.planos_atico_celda{
	text-align:center;
	width:50%;
	}
.imagenes_planos_atico {
	width:280px;
	padding-left: 10px;
	float: left;
	padding-right: 15px;
	clear: right;
	height: 183px;
	border-width: 0px 0px 0px 0px;
}
.imagenes_planos_pisos {
	width:280px;
	float: left;
	padding-right: 15px;
	border-width: 0px 0px 0px 0px;
	margin-top: 0px;
}
table.planos_pisos_enlaces_tabla {
	border-width:0px;
	padding-top: 0px;
	float: left;
	}	
table.planos_atico_enlaces_tabla {
	text-align:center;
	border-width:0px;
	}
/*----------------------------- Semisotano -------------------------------*/

.notas {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	}
td.tabla_cabecera_semisotano_td{
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
	font-size: 13px;
	}
td.tablaorientativa_celda1 {
	height:25px;}
td.tablaorientativa_nota {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	height:20px;
	}
table.tablaorientativa_cabecera_tabla{
	width:100%;
	border:none;
	}
tr.tablaorientativasotanos_tr{
	background-color:#FFFFFF;
	font-weight: bold;
	}
.tablaorientativasotanos_cabecera{
	font-size: 13px;
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
	display: block;
	}
td.sotano_celda{
	text-align:center;
	width:50%;
	}
/*---------------------	Memoria de calidades -----------------------*/
p.memorias{
	text-align:justify;
	}
.cabeceramemoria {
	font-size: 13px;
	font-weight: bold;
	color: #003063;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: solid #003063 1px;
}
